// Body
$body-bg: #f3fffc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$primary:#04c4a7;
$card-border-width:0;
$card-border-radius:0;
$link-color : #000000;